*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    font-family: sans-serif;
    min-height: 100%;
    color: #555;
 }
 form{
    max-width: 400px;
    margin: 50px auto;
    border:  thin solid #e4e4e4;
    padding: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
 }
 form h2{ margin-bottom: 10px; }
 form .info{
    margin-bottom: 20px;
    line-height: 24px;
 }
 form label{
    display: block;
    margin-bottom: 10px;
    padding-left: 5px;
 }
 form input, form textarea{
    display: block;
    width:  100%;
    padding: 10px;	
    margin-bottom: 10px;
    font-size: 16px;
    border:  thin solid #e4e4e4;
    margin-bottom: 30px;
 }
 form select{
    display: block;
    width:  100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border:  thin solid #e4e4e4;
    background-color: white;
    color: #555;
 }
 form input:focus{ outline: none; }
 form input::placeholder{ font-size: 16px; }
 form button{
    background: #32749a;
    color: white;
    border: none;	
    padding: 15px;
    width:  100%;
    font-size: 17px;
    margin-top: 20px;
    cursor: pointer;
 }
 form button:hover{ filter: brightness(1.4); }
 form button:active{ background-color: green; }
 form .forgot-password, form .resend-code, form .have-account{
    margin-top: 30px;
 }
 form a{	color: #1f7498; }
 form a:hover{ text-decoration: none; }
 form .create-account{ margin-top: 15px; }
 .error{
    margin-top: 30px;
    color: #af0c0c;
 }
 .success{
    margin-top: 30px;
    color: green;
    line-height: 26px;
 }
 .page{
    max-width: 900px;
    margin: 30px auto 0 auto;
    padding: 20px;
 }
 .top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: thin solid #d4d4d4;
    padding-bottom: 20px;
 }
 .top-bar a{
    background: #32749a;
    color: white;
    text-decoration: none;
    padding: 8px 35px;
    font-size: 17px;
 }
 .top-bar a:hover{ filter: brightness(1.4); }
 .top-bar a:active{ background-color: green; }
 .content{ margin-top: 100px; }
 .content h3{ margin-bottom: 20px; }
 .content p{
    line-height: 26px;	
    margin-bottom: 50px;
 }